[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pipenv-setup = "*"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
whitenoise = "*"
django-cors-headers = "*"
mypy = "*"
mkdocs = "*"
django-environ = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
