{% extends 'base_email.html' %}
{% block content %}
<div class="rectangle-3" style="box-sizing: border-box;margin: 60px 138px;">
    <p class="invite" style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;color: #6d6d6d;line-height: 21px;font-family: 'DINPro', 'Roboto', sans-serif !important;">
        Greetings <strong>{{username}}</strong>. Thank you for signing up to NCPWD.If you did not request this
        update,
        please ignore this message.
        <br>
        <br>Regards,<br><strong>NCPWD Team</strong>
    </p>
</div>
<div style="box-sizing: border-box;">
    <a href={{activation_link}}> <button type=" button" class="btn btn-primary" style="box-sizing: border-box;border-radius: 4px;margin: 0;font-family: 'DINPro', 'Roboto', sans-serif;font-size: 1rem;overflow: visible;text-transform: none;-webkit-appearance: button;display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;padding: .375rem .75rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;color: rgb(43, 41, 42);background-color: rgb(4, 149, 61);border-color: rgb(216, 41, 38);height: 44px;width: 174px;">activate
            account</button></a>
</div>
{% endblock %}