<!doctype html>
<html lang="en" style="box-sizing: border-box;height:100%;font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-ms-overflow-style: scrollbar;-webkit-tap-highlight-color: transparent;">

<head style="box-sizing: border-box;">
    <!-- Required meta tags -->
    <meta charset="utf-8" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" style="box-sizing: border-box;">

    <title style="box-sizing: border-box;">NCPWD</title>
    <style style="box-sizing: border-box;">
        @font-face {
            font-family: 'DINPro';
            src: url("https://firebasestorage.googleapis.com/v0/b/andelamrm.appspot.com/o/email_assets%2Ffonts%2FDINPro-Regular.woff?alt=media&token=8740b12d-b0d5-497a-8288-53fc5a6b432e");
        }
    </style>
</head>

<body style="box-sizing: border-box;margin: 0;height:100%;font-family: 'DINPro', 'Roboto', sans-serif;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #f4f8f9;min-width: 992px!important;">
    <div class="container" style="box-sizing: border-box;height:100%;width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;min-width: 992px!important;padding:70px;">
        <div id="email" style="box-sizing: border-box;height: 605px;width: 611px;background-color: #ffff;margin: auto;">
            <div class="ncp" style="box-sizing: border-box;padding-top: 0px;height: 125px;width: 80%;color: rgb(56, 107, 76);font-size: 18px;font-weight: 500;letter-spacing: 0.36px;line-height: 23px;margin: auto;">
                <img src="https://res.cloudinary.com/brybzlee/image/upload/v1563268319/NCPWD/ncpwd_long_logo.jpg" alt="" style="box-sizing: border-box;vertical-align: middle;border-style: none;page-break-inside: avoid;height: 95px;width: 550px;margin-top:10px;">
            </div>
            <div style="box-sizing: border-box;">
                <hr style="box-sizing: content-box;height: 0;overflow: visible;margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
            </div>
            <div class="rectangle" style="box-sizing: border-box;height: 370px;width: 610px;text-align: center;">
                <div style="box-sizing: border-box;">
                    <h5 class="greeting" style="box-sizing: border-box;margin-top: 0;margin-bottom: 0px;font-family: inherit;font-weight: 500;line-height: 0px;color: inherit;font-size: 24px;padding-top: 5px;">
                    </h5>
                </div>
                {% block content %}
                {% endblock %}
                <div style="box-sizing: border-box;">
                    <hr class="line" style="box-sizing: content-box;height: 0;overflow: visible;margin-top: 70px;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
                </div>
            </div>
            <div class="rectangle-2" style="box-sizing: border-box;height: 130px;width: 610px;border-radius: 0 0 4px 4px;">
                <div class="contact" style="box-sizing: border-box;height: 54.32px;width: 490px;font-family: 'DINPro', 'Roboto', sans-serif, sans-serif;color: #000000;font-size: 16px;line-height: 27px;padding-top: 0px;padding-bottom: 39px;margin: auto;text-align: center;">
                    <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">
                        Have a question?
                        <br style="box-sizing: border-box;"> <a href="mailto:info @ncpwd.go.ke" style="box-sizing: border-box;color: #007bff;text-decoration: underline;background-color: transparent;-webkit-text-decoration-skip: objects;">
                            nfo @ncpwd.go.ke</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="subcription" style="box-sizing: border-box;height: 19.16px;width: 490px;color: #000111;font-family: 'DINPro', 'Roboto', sans-serif, sans-serif;font-size: 16px;line-height: 19px;text-align: center;margin: auto;padding-top: 15px;">
            <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">Click <span style="box-sizing: border-box;"><a
                        id="link" href="#" style="box-sizing: border-box;color: #999999;text-decoration: underline;background-color: transparent;-webkit-text-decoration-skip: objects;">
                        <strong>here</strong></a></span> if you wish to unsubscribe</p>
        </div>
    </div>
</body>

</html>